doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Umilabs
        link(rel='stylesheet', href='/src/assets/fonts/stylesheet.css')
        link(rel='stylesheet', href='/src/styles/reset.css')
    body
        include ../common/mixins

    +b.ready
        +e.H1.title Ты готов стать профессионалом?
        +e.subtitle Мы ищем 
            +e.SPAN талантов 
            | и 
            +e.SPAN саппортов 
            |в команду. Решите на какую категорию вы претендуете.
        +e.fill-out
            span +
            | Заполнить анкету
    +b.bg
    +b.motivation
        +b.wrap
            +b.item
                +e.title Прокачиваем мир
                +e.question Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?
            +b.item
                +e.title Мотивируем себя
                +e.question У вас есть собственная цель и вы не боитесь много работать, чтобы её достичь?
            +b.item
                +e.title Используем лучшее
                +e.question Вы способны применять разные подходы для достижения своих целей?
            +b.item
                +e.title Относимся с пониманием
                +e.question Вы не обвиняете других в свои неудачах и способны воспринимать критику?


    +b.similar
        +e.inner
            +e.title Мы похожи!
            +e.text 
                p Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации форм развития. 
                p Разнообразный и богатый опыт начало повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития. Равным образом дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий условий активизации. С другой стороны постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
        
    +b.advantage
        +e.title Приемущества работы с нами
        +b.wrap
            +b.item
                +e.icon
                    object(type='image/svg+xml', data='/src/assets/images/Vector.svg')
                        img(src='/src/assets/images/Vector.png')
                +e.title Делимся оптом и навыками
                +e.text Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.  
            +b.item
                +e.icon
                    object(type='image/svg+xml', data='/src/assets/images/Vector.svg')
                        img(src='/src/assets/images/Vector.png')
                +e.title Стабильная зарплата
                +e.text Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.
            +b.item
                +e.icon
                    object(type='image/svg+xml', data='/src/assets/images/Vector.svg')
                        img(src='/src/assets/images/Vector.png')
                +e.title Гибкий график
                +e.text Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.

    +b.about
        +e.title Теперь расскажите о себе
        +b.form(action='')
            +e.item
                +e.name
                    span 1
                    p Фамилия и имя
                input(type='text' name='name' value='' placeholder='Сидоров Александр')
            +e.item
                +e.mail
                    span 2
                    p Электронная почта
                input(type='email' name='email' value='' placeholder='Sidorov@yandex.ru')
            +e.item
                +e.phone
                    span 3
                    p Телефон
                input(type='tel' name='phone' value='' placeholder='+7 (999)-328-14-20')
            +e.item
                +e.question
                    span 4
                    p Какой деятельностью, не связанной с текущими проектами, вы бы хотели заниматься в рабочее время?
                textarea(rows="2" placeholder='Свой проект по созданию универсальной инфраструктуры строительства')
            +e.button
                input(type='submit' value='Отправить')
    
